* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive;
}
.menu-container {
  display: flex;
  justify-content: center;
  color: #FFF;
  background-color: #5995DA; /* blue */
  padding: 20px 0;
}
.menu {
  border: 1px solid #fff; /* for debuging */
  width: 900px;
  display: flex;
  justify-content: space-between;
}
.link {
  /* border: 1px solid #fff; */
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.login {
  margin-left: 20px;
}
.date {
  margin-left: 10px;
}
